/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

body {
	background: url("../images/bg_texture.png");
	font-family: "Arial", sans-serif;
	font-size: 14px;
}

#wrapper {
	background: url("../images/header_bg.png") repeat-x;
}
/* ==========================================================================
   GLOBAL TYPOGRAPHIC STYLES
   ========================================================================== */

@font-face {
	font-family: 'MuliLight';
	src: url('../fonts/muli/Muli-Light-webfont.eot');
	src: url('../fonts/muli/Muli-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/muli/Muli-Light-webfont.woff') format('woff'),
		 url('../fonts/muli/Muli-Light-webfont.ttf') format('truetype'),
		 url('../fonts/muli/Muli-Light-webfont.svg#MuliLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'MuliRegular';
	src: url('../fonts/muli/Muli-Regular-webfont.eot');
	src: url('../fonts/muli/Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/muli/Muli-Regular-webfont.woff') format('woff'),
		 url('../fonts/muli/Muli-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/muli/Muli-Regular-webfont.svg#MuliRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

h1,
h2,
h3 {
	font-family: "MuliRegular";
}

h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

h3 {
	font-size: 24px;
	margin-top: 10px;
}

a {
	color: #DF4D05;
	text-decoration: none;
}

p {
	line-height: 1.6em;
	margin-top: 15px;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

footer,
#globalHeader,
nav,
#recommended {
	margin: 0px auto;
	width: 960px;
}

#main {
	background: #FFF;
	margin: 0px auto;
	position: relative;
	width: 1060px;
	top: 150px;

  -webkit-box-shadow: 0px 0px 5px 0px #000000;
		  box-shadow: 0px 0px 5px 0px #000000;

}

nav {
	margin-bottom: 100px;
}

#allContent,
#recommended {
	margin-left: 50px
}

/* ==========================================================================
   HEADER STYLES
   ========================================================================== */

#headerSubheader {
	float: left;
	margin: 0px;
	padding-top: 50px;
	width: 500px;
}

header h1 a,
header p {
	color: #FFF;
	margin: 0px 0px 0px 30px;
}

header h1 {
	font-size: 48px;
}

header h1 a:hover {
	text-decoration: none;
}

header p {
	font-family: "MuliLight";
	font-size: 18px;
}


/* ==========================================================================
   SOCIAL ICONS
   ========================================================================== */

#mySocial,
.tiny-social {
	float: left;
}

#mySocial {
	padding-top: 50px;
	width: 300px;
}

#mySocial ul li,
#socialAboutMe ul li,
.tiny-social ul li {
	float: left;
	overflow: hidden;
	position: relative;
	text-indent: 100%;
	white-space: nowrap;
}

#mySocial ul li {
	left: 70%;
}

#mySocial ul li a {
	display: block;
	height: 45px;
	margin: 25px 15px 25px 0px;
	width: 45px;
}

#mySocial li.twitter a {
	background: url("../images/social_icons.png") no-repeat -5px -5px;
}

#mySocial li.twitter a:hover {
	background: url("../images/social_icons.png") no-repeat -5px -54px;
}

#mySocial li.twitter a:active {
	background: url("../images/social_icons.png") no-repeat -5px -103px;
}

#mySocial li.facebook a {
	background: url("../images/social_icons.png") no-repeat -5px -151px;
}

#mySocial li.facebook a:hover {
	background: url("../images/social_icons.png") no-repeat -5px -199px;
}

#mySocial li.facebook a:active {
	background: url("../images/social_icons.png") no-repeat -5px -248px;
}

#mySocial li.linkedin a {
	background: url("../images/social_icons.png") no-repeat -5px -296px;
}

#mySocial li.linkedin a:hover {
	background: url("../images/social_icons.png") no-repeat -5px -344px;
}

#mySocial li.linkedin a:active {
	background: url("../images/social_icons.png") no-repeat -5px -394px;
}

#mySocial li.google-plus a {
	background: url("../images/social_icons.png") no-repeat -5px -586px;
}

#mySocial li.google-plus a:hover {
	background: url("../images/social_icons.png") no-repeat -5px -635px;
}

#mySocial li.google-plus a:active {
	background: url("../images/social_icons.png") no-repeat -5px -684px;
}


.tiny-social ul li a {
	display: block;
	height: 25px;
	margin: 5px 2px;
	width: 25px;
}

.tiny-social ul#geekLegacy li {
	left: 60%;
}

.tiny-social ul.styleTechie li {
	left: 100%;
}

.tiny-social li.twitter a {
	background: url("../images/social_icons.png") no-repeat -5px -731px;
}

.tiny-social li.facebook a {
	background: url("../images/social_icons.png") no-repeat -5px -759px;
}

.tiny-social li.youtube a {
	background: url("../images/social_icons.png") no-repeat -5px -787px;
}

.tiny-social li.rss a {
	background: url("../images/social_icons.png") no-repeat -5px -815px;
}

/* ==========================================================================
   HOME PAGE NAVIGATION
   ========================================================================== */

nav {
	position: relative;
	top: 50px;
}

.home-nav h2 {
	font-family: "MuliLight";
	font-size: 36px;
	font-weight: bold;
	margin: 0px;
	text-align: center;
}

.home-nav {
	float: left;
	margin-right: 60px;
}

/* ==========================================================================
   GLOBAL NAVIGATION
   ========================================================================== */

nav.global-nav {
	border-bottom: 1px solid #000000;
	margin-bottom: 30px;
	top: 0px;
}

#list-nav {
	border-bottom: none;
	font-family: "MuliLight";
	margin-top: 20px;
}

#list-nav li {
	float: left;
}

#list-nav li a {
	color: #000000;
	display: block;
	font-size: 36px;
	padding: 15px 30px 15px 0px;
}

body.about-me #list-nav li.about-me a,
body.portfolio #list-nav li.portfolio a,
body.stories #list-nav li.stories a,
#list-nav li a:hover{
	font-family: "MuliRegular";
	text-decoration: none;
}


/* ==========================================================================
   HOME PAGE - Recommended Sites
   ========================================================================== */

.recommended-site {
	float: left;
	margin-right: 30px;
	width: 450px;
}

.recommended-site h3 {
	float: left;
	margin: 0px;
	width: 200px;
}

.recommended-site h3.style-techie {
	width: 325px;
}

.recommended-site p {
	clear: both;
}

.recommended-site img {
	border: 1px solid #c3c3c3;
}

/* ==========================================================================
   GLOBAL CONTENT PAGES
   ========================================================================== */

#pageContent {
	float: left;
	margin-right: 20px;
	width: 700px;
}


#sidebar {
	float: left;
	width: 225px;
}

#sidebar h3 {
	border-bottom: 1px solid #000000;
	margin: 20px 0px;
}

button {
	background-color: #000000;
	border: none;
	color: #FFFFFF;
	display: block;
	margin-top: 10px;
	width: 90px;
}

button,
input {
	font-family: "MuliRegular";
	font-size: 14px;
	height: 35px;
}

input {
	border: 1px solid #c3c3c3;
	width: 225px;
}


#twitterFeed p {
	text-align: center;
}

#myTweets p {
	text-align: left;
}

#myTweets li.tweet {
	border-bottom: 1px solid #c3c3c3;
	font-size: 12px;
	margin-bottom: 15px;
	padding-bottom: 15px; 
}


/* ==========================================================================
   STORIES PAGE
   ========================================================================== */

.story {
	margin-bottom: 30px;
	width: 650px;
}

.story ul {
	margin-top: 15px;
}

/* ==========================================================================
   PORTFOLIO PAGE
   ========================================================================== */

#graphicDesign,
#writing {
	margin-top: 30px;
}

.design-samples,
.writing-samples {
	margin: 30px 0px;
}

.design-samples ul li,
.writing-samples ul li {
	float: left;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	text-indent: 100%;
	white-space: nowrap;
}

.design-samples ul li a,
.writing-samples ul li a {
	display: block;
}

.design-samples ul li a {
	height: 223px;
	margin-right: 10px; 
	width: 223px;
}

.writing-samples ul li a {
	height: 138px;
	margin: 0px 30px;
	width: 138px;	
}

.design-samples ul li.landing1 a {
	background: url("../images/portfolio-thumbs.png") -3px -591px;
}

.design-samples ul li.landing2 a {
	background: url("../images/portfolio-thumbs.png") -3px -821px;
}

.design-samples ul li.landing3 a {
	background: url("../images/portfolio-thumbs.png") -3px -1048px;
}

.design-samples ul li.ms-home a {
	background: url("../images/portfolio-thumbs.png") -3px -1276px;
}

.design-samples ul li.ms-products a {
	background: url("../images/portfolio-thumbs.png") -3px -1504px;
}

.design-samples ul li.ms-banner a {
	background: url("../images/portfolio-thumbs.png") -3px -1734px;
}

.design-samples ul li.quickbooks a {
	background: url("../images/portfolio-thumbs.png") -3px -1961px;
}

.design-samples ul li.remarketing1 a {
	background: url("../images/portfolio-thumbs.png") -3px -2189px;
}

.design-samples ul li.remarketing2 a {
	background: url("../images/portfolio-thumbs.png") -3px -2417px;
}

.design-samples ul li.email1 a {
	background: url("../images/portfolio-thumbs.png") -3px -2645px;
}

.design-samples ul li.email2 a {
	background: url("../images/portfolio-thumbs.png") -3px -2874px;
}

.design-samples ul li.email3 a {
	background: url("../images/portfolio-thumbs.png") -3px -3102px;
}

.writing-samples ul li.frozen-ridge a {
	background: url("../images/portfolio-thumbs.png") -1px -1px;
}

.writing-samples ul li.scripted a {
	background: url("../images/portfolio-thumbs.png") -2px -148px;
}

.writing-samples ul li.bs a {
	background: url("../images/portfolio-thumbs.png") 0px -289px;
	height: 145px;
	width: 145px;
}

.writing-samples ul li.livelens a {
	background: url('../images/portfolio-thumbs.png') no-repeat -1px -438px;
	width: 200px;
	height: 65px;
}

.writing-samples ul li.veros a {
	background: url('../images/portfolio-thumbs.png') no-repeat 0 -504px;
	width: 230px;
	height: 81px;
}

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */

#profilePic {
	float: left;
	margin-right: 15px;
	margin-top: 15px;
}

#contactMe {
	margin-top: 30px;
}

#contactMe h2 {
	margin: 0px;
}

#socialAboutMe ul li a{
	display: block;
	height: 62px;
	margin: 20px 20px 30px 0px;
	width: 62px;
}

#socialAboutMe ul li.twitter a {
	background: url('../images/about-social.png') no-repeat 0 0px;
}

#socialAboutMe ul li.twitter a:hover {
	background: url('../images/about-social.png') no-repeat 0 -66px;
}

#socialAboutMe ul li.facebook a {
	background: url('../images/about-social.png') no-repeat 0 -132px;
}

#socialAboutMe ul li.facebook a:hover {
	background: url('../images/about-social.png') no-repeat 0 -198px;
}

#socialAboutMe ul li.google-plus a {
	background: url('../images/about-social.png') no-repeat 0 -263px;
}

#socialAboutMe ul li.google-plus a:hover {
	background: url('../images/about-social.png') no-repeat 0 -329px;
}

#socialAboutMe ul li.github a {
	background: url('../images/about-social.png') no-repeat 0 -395px;
}

#socialAboutMe ul li.github a:hover {
	background: url('../images/about-social.png') no-repeat 0 -461px;
}

#socialAboutMe ul li.linkedin a {
	background: url('../images/about-social.png') no-repeat 0 -527px;
}

#socialAboutMe ul li.linkedin a:hover {
	background: url('../images/about-social.png') no-repeat 0 -593px;
}

#socialAboutMe ul li.pinterest a {
	background: url('../images/about-social.png') no-repeat 0 -658px;
}

#socialAboutMe ul li.pinterest a:hover {
	background: url('../images/about-social.png') no-repeat 0 -724px;
}

#socialAboutMe ul li.instagram a {
	background: url('../images/about-social.png') no-repeat 0 -790px;
}

#socialAboutMe ul li.instagram a:hover {
	background: url('../images/about-social.png') no-repeat 0 -856px;
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

footer {
	border-top: 1px solid #000000;
	padding-bottom: 20px;
	margin-top: 20px;
	text-align: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
